{% extends 'base.html' %}

{% block content %}
<h2 class="mb-3">Borrow "{{ book.title }}"</h2>

{% if users %}
<form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="user" class="form-label">Select User</label>
        <select class="form-select" name="user" id="user">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }} ({{ user.borrowed_count }} books borrowed)</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12 mt-2">
        <button type="submit" class="btn btn-primary">Borrow</button>
    </div>
</form>
{% else %}
<p class="text-danger">No users are eligible to borrow this book. Each user can borrow a maximum of 3 books.</p>
{% endif %}
{% endblock %}
